{{#each articles}}
    <div class="post-preview">
        <a href="{{post post_link}}">
            <h2 class="post-title">
                {{post post_title}}
            </h2>
        </a>
        <p class="post-date">
            Posted at {{post post_date}}
        </p>
    </div>
    <hr>
{{/each}}